<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Add a new Order Item
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-order-item-form></app-order-item-form>
</mat-expansion-panel>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell class="dc-label" *matHeaderCellDef class="id-header">Id</th>
    <td mat-cell class="dc-content" *matCellDef="let element">
      <a [routerLink]="['/order-item', element.id]" routerLinkActive="is-active"> {{ element.id }} </a>
    </td>
  </ng-container>

  <!-- amount Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell class="dc-label" *matHeaderCellDef>Amount</th>
    <td mat-cell class="dc-content" *matCellDef="let element">{{ element.amount }}</td>
  </ng-container>


  <!-- Checkbox Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef class="delete-header">
      <mat-checkbox (change)="$event ? toggleSelectAll() : null"
                    [checked]="selection.hasValue()"
                    [indeterminate]="selection.hasValue()">
      </mat-checkbox>
      <button mat-icon-button color="warn"
                    [disabled]="!selection.hasValue()"
                    (click)="onDeleteClick($event)">
        <mat-icon>delete</mat-icon>
      </button>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

</table>
