<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="orderItemForm">
      <input type="hidden" id="id" formControlName="id" />
      <mat-form-field appearance="fill">
        <mat-label>Amount</mat-label>
        <input matInput type="number" placeholder="Some Amount" id="amount" [formControl]="amount" required />
        <mat-error *ngIf="amount.invalid">
          <div *ngIf="amount.errors!['required']">
            Amount is required.
          </div>
        </mat-error>
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="!orderItemForm.valid">Submit</button>
  </form>
</div>
