<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Update Order</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-order-form [order]="order$"></app-order-form>
  </mat-card-content>
</mat-card>
