<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="orderForm">
      <input type="hidden" id="id" formControlName="id" />
      <mat-form-field appearance="fill">
        <mat-label>Order Date</mat-label>
        <input type="date" matInput placeholder="Some Order Date" id="orderDate" [formControl]="orderDate" required />
        <mat-error *ngIf="orderDate.invalid">
          <div *ngIf="orderDate.errors!['required']">
            Order Date is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Delivery Date</mat-label>
        <input type="date" matInput placeholder="Some Delivery Date" id="deliveryDate" [formControl]="deliveryDate" required />
        <mat-error *ngIf="deliveryDate.invalid">
          <div *ngIf="deliveryDate.errors!['required']">
            Delivery Date is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Notes</mat-label>
        <input matInput placeholder="Some Notes" id="notes" [formControl]="notes" />
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="!orderForm.valid">Submit</button>
  </form>
</div>
