<mat-nav-list fxLayout="column">
  <a mat-list-item [routerLink]="['/customer']">
    <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
    Customer
  </a>
  <a mat-list-item [routerLink]="['/order']">
    <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
    Order
  </a>
  <a mat-list-item [routerLink]="['/product']">
    <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
    Product
  </a>
  <a mat-list-item [routerLink]="['/order-item']">
    <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
    Order Item
  </a>
</mat-nav-list>
