<div fxFlex fxLayoutGap="16px">

    <button [routerLink]="['/customer']" mat-raised-button appElevate class="entity-button">
      <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
      Customer
    </button>

    <button [routerLink]="['/order']" mat-raised-button appElevate class="entity-button">
      <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
      Order
    </button>

    <button [routerLink]="['/product']" mat-raised-button appElevate class="entity-button">
      <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
      Product
    </button>

    <button [routerLink]="['/order-item']" mat-raised-button appElevate class="entity-button">
      <mat-icon aria-hidden="false" class="right-space">article</mat-icon>
      Order Item
    </button>

</div>
