<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div [formGroup]="productForm">
      <input type="hidden" id="id" formControlName="id" />
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Some Name" id="name" [formControl]="name" required />
        <mat-error *ngIf="name.invalid">
          <div *ngIf="name.errors!['required']">
            Name is required.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Code</mat-label>
        <input matInput placeholder="Some Code" id="code" [formControl]="code" required />
        <mat-error *ngIf="code.invalid">
          <div *ngIf="code.errors!['required']">
            Code is required.
          </div>
        </mat-error>
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button color="primary" [disabled]="!productForm.valid">Submit</button>
  </form>
</div>
