<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Update Product</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-product-form [product]="product$"></app-product-form>
  </mat-card-content>
</mat-card>
