<mat-card>
  <mat-card-header>
    <mat-card-subtitle>Update Customer</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <app-customer-form [customer]="customer$"></app-customer-form>
  </mat-card-content>
</mat-card>
